# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
# Snippets for better workflow for banners and common tasks
# Banners sizes: 160x600, 728x90, 300x250, 300x600

'.text.html.basic':
  'banner html5 google':
    'prefix': 'banner-html5-google'
    'body': """
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name=”ad.size” content=”width=$1,height=$2>
        <title>$3</title>
        <link rel="stylesheet" type="text/css" href="assets/css/all.css" />
        <script type="text/javascript" src="https://tpc.googlesyndication.com/pagead/gadgets/html5/api/exitapi.js"> </script>
    </head>

    <body>
      <div id="ad">

        <div id="banner">

          <!-- Frame One -->
          <div class="frame-one">
            $4
          </div>

          <!-- Frame Two -->
          <div class="frame-two">
            $5
          </div>

          <!-- Frame Three -->
          <div class="frame-three">
            $6
          </div>

          <img src="assets/img/replay.gif" alt="" class="replay" id="replay" />

          <!-- Fallback and ClickTag -->
          <a onclick="ExitApi.exit()" class="clicktag">
            <!--[if lte IE 8]> <img src="fallback.jpg" alt=""> <![endif]-->
          </a>

        </div>

      </div>

        <!--CDN links for the latest TweenLite, CSSPlugin, and EasePack-->
        <script src="https://s0.2mdn.net/ads/studio/cached_libs/tweenmax_1.18.0_499ba64a23378545748ff12d372e59e9_min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
    </html>
    """
'.source.css':
  'Banner CSS setup':
    'prefix': 'CSS Banner'
    'body': """
    /*-------------------------------------
        Reset
    ---------------------------------------*/
    * {
        margin: 0;
        padding: 0;
        position: absolute;
    }

    #banner * {
      position: absolute;
    }

    #banner br {
      position: static;
    }

    img {
      border: none;
    }

    /*-------------------------------------
        Banner
    ---------------------------------------*/
    #ad {
      width: $1px;
      height: $2px;
      overflow:hidden;
      border:1px solid #999;
      -moz-user-select: -moz-none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    #banner {
      position: absolute;
      display: block;
      width: $1px;
      height: $2px;
      overflow: hidden;
      cursor: pointer;
      visibility: hidden;
      border: 1px solid #c6c6c6;
      background: url(../img/bg.jpg) no-repeat;;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    .clicktag {
      width: 100%;
      height: 100%;
      z-index: 10;
      cursor: pointer;
    }

    .clicktag img {
      border: none;
      outline: none;
    }

    div[class^="frame"] {
      width: $1px;
      height: $2px;
    }

    #banner *{
      -webkit-animation-play-state: paused!important;
      animation-play-state: paused!important;
    }

    #banner.is_visible *{
      -webkit-animation-play-state: running!important;
      animation-play-state: running!important;
    }

    #replay {
      z-index: 20;
      height: 14px;
      opacity: 0;
      left: 3px;
      top: 3px;
      width: 12px;
      cursor: pointer;
    }
    """
'.source.js':
  'Basic TimelineLite setup':
    'prefix': 'tl'
    'body': """
    var tl = new TimelineLite();

    window.onload = function () {
      $1
    }
    """
  'TimelineMax Setup':
    'prefix': 'tlm'
    'body': """
      var banner = document.getElementById('banner'),
          replay = document.getElementById('replay'),
          tl = new TimelineMax();

      window.onload = function() {
          startBanner();
          $1
      };

      var startBanner = function () {
          banner.style.visibility = 'visible';
          banner.className = 'is_visible';
      };

      replay.addEventListener("click", function(){
        tl.restart();
      })
    """
